/* Gradient.css */


.liner-dark {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
}

.back-dark {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
}


.bg1 {
    background-image: linear-gradient(45deg, #0f1c8b, #4d1497);
}

.bg2 {
    background-image: linear-gradient(45deg, #00b6ad, #4a04bb);
}

.bg3 {
    background-image: linear-gradient(45deg, #00638a, #0192b6);
}

.bg4 {
    background-image: linear-gradient(45deg, #667eea, #764ba2);
}

.bg5 {
    background-image: linear-gradient(45deg, #0f1c8b, #4e94cd);
}

.bg6 {
    background-image: linear-gradient(45deg, #00b6ad, #6352ff);
}